<p id="notice"><%= notice %></p>

<p>
  <b>Recibido:</b>
  <%= @marron.received_at %>
</p>

<p>
  <b>Entregado:</b>
  <%= @marron.delivered_at %>
</p>

<p>
  <b>Etiqueta:</b>
  <%= @marron.label %>
</p>

<p>
  <b>Tel-1:</b>
  <%= @marron.phone1 %>
</p>

<p>
  <b>Tel-2:</b>
  <%= @marron.phone2 %>
</p>

<p>
  <b>Estado:</b>
  <%= Status.find_by_status_id(@marron.status_id).name %>
</p>

<p>
  <b>Técnico:</b>
  <%= Technician.find_by_technician_id(@marron.technician_id).name if @marron.technician_id %>
</p>

<p>
  <b>Avisado:</b>
  <%= @marron.informed %>
</p>

<p>
  <b>Descripción:</b>
  <%= @marron.description %>
</p>

<p>
  <b>Servicio realizado:</b>
  <%= @marron.actions %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @marron.advise %>
</p>


<%= link_to 'Edit', edit_marron_path(@marron) %> |
<%= link_to 'Back', marrones_path %>
